In [3]:
# Exp 01 : Introduction to python
# Madhur

In [4]:
x,y,z ="apple","orange","cheery"
print(x,y,z,sep="\n")

apple
orange
cheery

In [5]:
# Finding the type of data
x,y,z,w=2,"2.4","Madhur",True
print(type(x),type(y),type(z),type(w),sep="\n")

<class 'int'>
<class 'str'>
<class 'str'>
<class 'bool'>

In [6]:
# Adding ,subtraction, multiplication ,division of two number
a,b = 10,5
print("add =" ,a+b ,"sub = ",a-b,"multiple = ",a*b,"division = ",a/b,)

add = 15 sub =  5 multiple =  50 division =  2.0

In [7]:
a,b = 10,5
print("add =" ,a+b ,"\nsub =",a-b,"\nmultiple = ",a*b,"\ndivision = ",a/b)

add = 15
sub = 5
multiple =  50
division =  2.0

In [9]:
a= int(input("Enter the first number: "))
b= int(input("Enter the second number: "))
print("add = ",a+b)

Enter the first number: 1
Enter the second number: 3
add =  4

In [10]:
import math
r =float(input("Enter the radius: "))
print("Area = ",math.pi*r*r)

Enter the radius: 4.56
Area =  65.32502100168472

In [17]:
import math
l=math.log10(12)
print(l)

1.0791812460476249

In [23]:
import math
math.sin(30)

-0.9880316240928618

In [31]:
a = int(input("a="))
b= int(input("b="))
if a>b:
    print("a is greater")
else:
    print("b is greater")

a=3
b=4
b is greater